doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom 
    body 
        h1 It works! 
        //- 하기 url 주소의 static 페이지를 작성해주자.
        script(src="/public/js/app.js")